# Core functionality - changes here should be rare!
/src/app.py                   @KennyLindahl
/src/backend/database.py      @KennyLindahl
/src/backend/routers/auth.py  @KennyLindahl

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KennyLindahl
